body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Segoe Script;
    background-color: #000000;
    color: white;
    position: relative;
}
.download-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
}
.center-text {
    margin-bottom: 30px;
    font-size: 18px;
}
.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: #000000;
}